* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #f2f2f2;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

input[type="search"] {
  /* background-color: #fff; */
  border: 1px solid blueviolet;
}

input[type="button"] {
  border: none;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-color: blueviolet;
  border-style: solid;
  border-width: 2px;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

input[type="button"]:focus {
  outline: none;
  border-color: blueviolet;
  box-shadow: 0 0 5px blueviolet;
}
input[type="button"]:active {
  border-color: blueviolet;
  box-shadow: 0 0 5px blueviolet;
  box-shadow: none;
}

input[type="button"]:visited {
  border: 2px solid blueviolet;
  outline: none;
}

strong {
  padding-top: 10px;
  font-size: 130px;
}

footer {
  font-family: monospace;
  margin-top: 30px;
}

hr {
  width: 20px;
  margin-left: 12px;
}

h1 {
  text-align: right;
  font-size: 20px;
  padding: 0 15px 0 15px;
  color: #666;
}

h2 {
  text-align: right;
  font-size: 15px;
  padding: 0 15px 0 15px;
  color: #666;
}

#weather-icon {
  font-size: 60px;
  margin-top: 35px;
}

.container {
  max-width: 680px;
  min-width: 680px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#search {
  max-width: 320px;
  min-width: 320px;
  padding: 11px;
}

#current-temperature {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #333;
}

.just-temperature {
  display: flex;
}

.unit {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

#celsius {
  font-size: 30px;
}

#fahrenheit {
  font-size: 18px;
  color: #666;
  margin-left: 12px;
}

.weather-info {
  margin-top: 55px;
  color: #666;
}
.weather-info span {
  display: block;
  font-size: 13px;
}

.more-weather-info {
  margin-top: 100px;
}

.more-weather-info span {
  display: block;
  font-size: 13px;
  color: #666;
}

#description {
  font-weight: bold;
  font-size: 30px;
}

.icon {
  padding: 10px 10px 0 10px;
  max-width: 120px;
  margin-bottom: 10px;
}
